---
import { readFragment, type FragmentOf } from '~/lib/datocms/graphql';
import { BlogPageInlineFragment } from './fragments';

interface Props {
  record: FragmentOf<typeof BlogPageInlineFragment>;
}

const { record } = Astro.props;

const unmaskedRecord = readFragment(BlogPageInlineFragment, record);
---

<a href="/" class="pill">
  {unmaskedRecord.title}
</a>
