---
import { TagFragment } from '~/lib/datocms/commonFragments';
import { executeQuery } from '~/lib/datocms/executeQuery';
import { graphql } from '~/lib/datocms/graphql';
import { DraftModeToggler } from '~/components/DraftModeToggler';
import { Seo, type TitleMetaLinkTag } from '@datocms/astro';
import { isDraftModeEnabled } from '~/lib/draftMode';
import './src/styles/global.css';

type Props = {
  additionalSeo?: TitleMetaLinkTag[];
};

const { additionalSeo = [] } = Astro.props;

const query = graphql(
  /* GraphQL */ `
    query RootQuery {
      _site {
        faviconMetaTags {
          ...TagFragment
        }
      }
    }
  `,
  [TagFragment],
);

const draftModeEnabled = isDraftModeEnabled(Astro.cookies);
const result = await executeQuery(query, { includeDrafts: draftModeEnabled });
---

<!doctype html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="generator" content={Astro.generator} />
    <Seo data={[...result._site.faviconMetaTags, ...additionalSeo]} />
  </head>
  <body class="flex flex-col h-full">
    <header class="min-h-20 flex justify-between items-center text-2xl font-medium px-8">
      <nav>Nav wip</nav>
      <div>CTA wip</div>
    </header>
    <!-- <DraftModeToggler /> -->

    <main class="flex-1 mb-12">
      <slot />
    </main>

    <footer class="bg-[#003973] text-white p-8">Footer wip</footer>
  </body>
</html>
